{{navbar}}

<div>
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
    <p>Posted by: {{post.User.username}}</p>
    <p>Date: {{post.createdAt}}</p>
</div>

<!-- Display comments for the post -->
<h3>Comments</h3>
{{#each post.comments}}
    <div>
        <p>{{this.content}}</p>
        <p>Comment by: {{this.User.username}}</p>
        <p>Date: {{this.createdAt}}</p>
    </div>
{{/each}}

<!-- Form to add a new comment -->
<form action="/post/{{post.id}}/comment" method="POST">
    <textarea name="content" placeholder="Add your comment"></textarea><br>
    <button type="submit">Submit</button>
</form>

{{ooter}}
